
$colors: (
    primary: #08A59C,
    primary-light: #29bab2,
    primary-dark: #028d85,
    secondary: #599afe,
    secondary-1: #00bcd4,
    secondary-2: #599afe,
    dark: #242122,
    dark-1: #333333,
    dark-2: #3e3e3e,
    dark-3: #444444,
    light: #dde4e4,
    light-1: #efefef,
    light-2: #fafafa,
    light-3: #ffffff,
);