
$colors: (
    primary: #08A59C,
    primary-light: #29bab2,
    primary-dark: #028d85,
    secondary: #599afe,
    secondary-1: #00bcd4,
    secondary-2: #599afe,
    accent: #a50837,
    dark: #242122,
    dark-1: #333333,
    dark-2: #3e3e3e,
    dark-3: #444444,
    light: #dde4e4,
    light-1: #efefef,
    light-2: #fafafa,
    light-3: #ffffff,
    transparency: #ffffff00,
);

$spacing: (
    xxs: .1rem,
    xs: .3rem,
    sm: .6rem,
    md: 1rem,
    lg: 2rem,
    xl: 3rem,
    xxl: 6rem,
    none: 0
);