@use '../lib/spacing' as space;
@use '../lib/colors' as color;


.post {
    display: grid;
    grid-template-areas: "title title" "thumb text" "link link";
    grid-template-columns: 2fr 6fr;
    grid-template-rows: auto auto auto;
    @include space.gap($h:md, $v:sm);
    border: 1px solid color.get(primary);
    @include space.padding($both:md);
    @include space.margin($h:lg);
    border-radius: .6rem;

    .title {
        grid-area: title;
        font-weight: 900;
    }
    .thumb {
        grid-area: thumb;
        max-width: 100%;
    }
    .text {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p:first-child {
            @include space.margin($t:none);
        }
    }

    .read-more {
        grid-area: link;
        border: 1px solid color.get(primary);
        display: block;
        @include space.padding($h:md, $v:xs);
        // @include space.margin($t:md);
        align-self: self-end;

        &:hover {
            @include color.bg(light);
        }
    }
}