@use '../lib/spacing/mixin' as space;
// @use '../lib/spacing/function' as spacef;

main {
    padding-inline: 1rem;
    @include space.padding($all:md);


    &.home {
        display: grid;
        grid-template-columns: 9fr 3fr;
        @include space.padding($both:lg);
        @include space.gap(lg);
        
        // .container { }
        .hero {
            font-weight: 900;
            text-transform: uppercase;
            // padding-bottom: spacef.get(lg);
            @include space.padding($b:lg)

        }
    }
    #button {
        @include space.margin($b:lg);
    }
}
