@use '../lib/colors/mixin' as color;
// @use '../lib/spacing/function' as space_function;
@use '../lib/spacing/mixin' as space;

#main-header {
    nav {
        display: grid;
        grid-template-columns: 1fr 6fr;
        @include color.bg(light);
        // padding-inline: 1rem;
        @include space.padding($h:md, $v:sm);
    }
    .logo {
        display: grid;
        margin-block: auto;
    }
    .nav {
        list-style: none;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        margin: 0;
        padding-block: 0;
        @include space.padding($h:lg);
    }
    li {
        // padding: .5rem 1rem;
        @include space.padding($h:md);
        // padding: space_function.get(md, lg);
    }
}

