@use '../lib/colors' as color;
@use '../lib/spacing' as space;

aside {
    @include space.padding($t:md);
    
    .title {
        font-weight: 700;
        border-bottom: 2px solid color.get(light);
    }
    .list {
        list-style: none;
        padding: 0;

        a {
            display: block;
            @include space.padding($v:sm, $h:md);
            @include space.margin($v:xs);
            border-inline-start: .2rem solid color.get(primary);
            
            &:hover {
                @include color.bg(light);
                border-inline-start: .2rem solid color.get(accent);
            }
        }
    }
}