@use '../lib/spacing' as space;
@use '../lib/spacing/responsive' as r_space;
@use '../lib/colors' as color;


.post {
    display: grid;
    grid-template-areas: "title title" "thumb text";
    grid-template-columns: 2fr 6fr;
    grid-template-rows: auto auto;
    @include space.gap($h:md, $v:sm);
    @include color.border($color:primary);
    @include space.padding($both:md);
    @include r_space.r-margin(h);
    @include space.margin($h:lg, $b:lg);
    border-radius: .6rem;

    .title {
        grid-area: title;
        font-weight: 900;
    }
    .thumb {
        grid-area: thumb;
        max-width: 100%;
    }
    .text {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p:first-child {
            @include space.margin($t:zero);
        }
    }

    .read-more {
        grid-area: link;
        display: block;
        @include space.padding($h:md, $v:xs);
        // @include space.margin($t:md);
        align-self: self-end;
    }
}
