@use "sass:color";
// @use "sass:map";
@use '../lib/helper/maps'; 
@use '../vars/colors' as vars;

// :root {
//     color-scheme: light dark;
// }
:root {
  @each $name, $value in vars.$colors {
    --color-#{"" + $name + ""}: #{$value};
  }
}

html:has(#color-scheme-light:checked) {
  @each $name, $value in vars.$colors {
    --color-#{"" + $name + ""}: #{$value};
  }
}
html:has(#color-scheme-dark:checked) {
   --darkmode: 1; 
   @each $name, $value in vars.$dark-colors {
     --color-#{"" + $name + ""}: #{$value};
  }

}
html:has(#color-scheme-auto:checked) {
  @media (prefers-color-scheme: light) {
    @each $name, $value in vars.$colors {
      --color-#{"" + $name + ""}: #{$value};
    }
  }
  @media (prefers-color-scheme: dark) {
    @each $name, $value in vars.$dark-colors {
      --color-#{"" + $name + ""}: #{$value};
    }
  }
}


// @container root style(--darkmode: 0) {} 
// @container root style(--darkmode: 1) {} 
// @container root style(--darkmode: 2) {} 

  body {
    transition: ease-in-out 300ms all;
  }