@use '../lib/colors' as color;
// @use '../lib/spacing/function' as space_function;
@use '../lib/spacing' as space;

#main-header {
    nav {
        display: grid;
        grid-template-columns: 1fr 6fr;
        @include color.bg(light);
        @include space.padding($h:lg, $v:none);
    }
    .logo {
        display: grid;
        margin-block: auto;
        cursor: pointer;
        font-weight: 700;
    }
    .items {
        list-style: none;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        margin: 0;


        a {
            display: block;
            @include space.padding($h:md, $v:sm);
            border-bottom: 2px solid color.get(transparency);
        }
        a:hover {
            border-bottom: 2px solid color.get(accent);
        }
    }
}

