@use '../lib/colors' as color;
@use '../lib/spacing' as space;
@use '../lib/breakpoints' as breakpoint;

aside {
    @include space.padding($t:xxl, $h:lg);
    @include space.margin($b:lg);
   
    .title {
        font-weight: 700;
        @include color.border($selector:border-bottom, $width:2px, $color:accent);
    }
    .list {
        list-style: none;
        padding: 0;
        
        a {
            display: block;
            @include space.padding($v:sm, $h:md);
            @include space.margin($v:xs);
            @include color.border($selector:border-inline-start, $width:.2rem, $color:primary);
            
            &:hover {
                @include color.bg(light);
                @include color.border($selector:border-inline-start, $width:.2rem, $color:accent);
                
            }
        }
    }
}