@use '../lib/colors' as color;
@use '../lib/animation/transition';

.tabs-container {
    margin-top: 1rem;
    
    .tabs {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(min-content, max-content);
        gap: .12rem;
    
        &>.tab {
            padding: 1rem;
            @include color.border($color: primary);
            border-bottom: none;
            border-radius: .8rem .8rem 0 0;
            @include color.bg(primary);
            @include color.fg(light-3);
            cursor: pointer;
            position: relative;
            display: grid;
            align-items: center;
            @include transition.ease($property:(background-color, color));
            
            &:hover {
                @include color.bg(primary-dark);
            }
            &.active {
                @include color.bg(light-2);
                @include color.fg(primary);
                inset-block-end: -1px;

                &:hover {
                    @include color.fg(dark);
                }
            }
        }
        
    }
    .contents {
        padding: 1rem;
        @include color.border($color: primary);
        @include color.bg(light-2);
    
        &>.content {
            display: none;
        }
        &>.content.active {
            display: block;
        }
    }
}



.tabs-container.horizontal {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content auto ;

    &>.tabs {
        grid-auto-flow: row;
        
        .tab {
            border-radius: .8rem 0 0 .8rem ;
            @include color.border($color: primary);
            border-inline-end: none;

            &.active {
                @include color.bg(light-2);
                inset-block-end: 0;
                inset-inline-end: -1px;
            }
        }
    }
}