@use '../../lib/colors' as color;

.btns-group {
    display: flex;

    :first-child {
        border-radius: .5rem 0 0 .5rem;
    }
    :last-child {
        border-radius: 0 .5rem .5rem 0;
    }

    label:has(input:checked) {
        @include color.bg(primary);
        @include color.fg(light-3);
    }
    input {
        display: none;
    
    }

}

[dir="rtl"] .btns-group {
    :first-child {
        border-radius: 0 .5rem .5rem 0;
    }
    :last-child {
        border-radius: .5rem 0 0 .5rem;
    }
}


.bordered-group {
    .btn{
        @include color.border($color:'gray');
    }
    .btn + .btn {
        border-inline-start: none;
    }
}
