@use '../lib/spacing' as space;
@use '../lib/spacing/responsive' as r_space;
@use '../lib/colors' as color;
@use '../lib/breakpoints' as breakpoint;
@use '../lib/animation/keyframe';

main {
    display: grid;
    
    @include breakpoint.more-than(md) {
        grid-template-columns: 9fr 3fr;
    }

    
    .hero {
        display: grid;
        z-index: -2;
        @include color.bg('primary-light');
        @include space.margin($b: lg);
        //@include space.padding($custom: 6rem 1rem);
        //@include space.custom('padding-block-start', xxl);
        
        @include space.padding($v:xxl);
        @include r_space.r-padding('h');

        // @include r_space.padding(
        //     $all:(v:xxl), 
        //     $xxs:(h:xs),
        //     $xs:(h:sm), 
        //     $md:(h:md), 
        //     $lg:(h:lg),
        //     $xl:(h:xl),
        //     $xxl:(h:xxl),
        //     $xxxl:(h:xxxl)
        // );

        h1 {
            font-weight: 900;
            text-transform: uppercase;
            @include space.padding($b: lg);
            @include keyframe.animate(fadeIn, ease-in-out, 400ms);
            
        }

        p {
            @include space.margin($v:xs);
        }
    }

    #button {
        @include space.margin($v: lg);
        justify-self: center;
    }
}
