$settings:(
    // Invert colors on dark theme
    invert_colors_on_dark : True,
);

$colors: (
    primary: #08A59C,
    primary-light: #29bab2,
    primary-dark: #028d85,
    secondary: #599afe,
    secondary-1: #00bcd4,
    secondary-2: #599afe,
    accent: #a50837,
    dark: #242122,
    dark-1: #444,
    dark-2: #333,
    dark-3: #000,
    light: #d3d3d3,
    light-1: #dbdbdb,
    light-2: #e7e7e7,
    light-3: #ffffff,
    transparency: transparent,
);


$dark-colors: (
    primary: #f75a63,
    primary-light: #d6454d,
    primary-dark: #fd727a,
    secondary: #a66501,
    secondary-1: #ff432b,
    secondary-2: #a66501,
    accent: #5af7c8,
    dark: #d3d3d3,
    dark-1: #dbdbdb,
    dark-2: #e7e7e7,
    dark-3: #ffffff,
    light: #242122,
    light-1: #444,
    light-2: #333,
    light-3: #000,
    transparency: transparent,
);
