@forward './typography';


$colors: (
    primary: #08A59C,
    primary-light: #29bab2,
    primary-dark: #028d85,
    secondary: #599afe,
    secondary-1: #00bcd4,
    secondary-2: #599afe,
    accent: #a50837,
    dark: #242122,
    dark-1: #333333,
    dark-2: #3e3e3e,
    dark-3: #444444,
    light: #dde4e4,
    light-1: #efefef,
    light-2: #fafafa,
    light-3: #ffffff,
    transparency: #ffffff00,
);

$spacing: (
    xxs: .1rem,
    xs: .3rem,
    sm: .6rem,
    md: 1rem,
    lg: 2rem,
    xl: 3rem,
    xxl: 6rem,
    zero: 0,
    0: 0
);

$breakpoints: (
	zero:    (val: 0px,     prev:none,  next:xxxs),
	xxxs:    (val: 200px,   prev:zero,  next:xxs),
	xxs:     (val: 300px,   prev:xxxs,  next:xs),
	xs:      (val: 430px,   prev:xxs,   next:sm),
	sm:      (val: 576px,   prev:xs,    next:md),
	md:      (val: 768px,   prev:sm,    next:lg),
	lg:      (val: 992px,   prev:md,    next:xl),
	xl:      (val: 1200px,  prev:lg,    next:xxl),
	xxl:     (val: 1400px,  prev:xl,    next:xxxl),
	xxxl:    (val: 2000px,  prev:xxl,   next:infinity),
	infinity:(val: 10000px, prev:xxxl,  next:none),
);

