@use '../../lib/colors' as color;
@use '../../lib/spacing/mixin' as space;
@use '../../lib/animation/transition' as trans;
@use '../../vars/colors' as var;



.btn {
    display: grid;
    // @include color.outline($color: 'gray');
    // @include color.fg(dark);
    // @include color.bg(light);
    border: none;

    cursor: pointer;
    @include space.padding($h: md, $v: xs);
    @include trans.ease($duration: 100ms, $property: (color, background-color));

    // &:hover,
    // &:active {
    //     @include color.fg(light);
    //     @include color.bg(dark);
    // }

    &:hover {
        // box-shadow: 0 0 6px color.get(light-3);
        // filter: contrast(1.3);
        filter: brightness(1.3);
        backdrop-filter: brightness(1.1);
    }

    // &:active {
        // box-shadow: inset 0 0 6px color.get(dark);
        //background-color: color.get(inherit, .5);
    // }

}