@use '../../lib/spacing' as space;
@use '../../lib/spacing/responsive' as r_space;
@use '../../lib/breakpoints' as breakpoint;
@use '../../vars/breakpoints' as vars;


.container {
    @include space.padding($h:xxxs);
}
.container-xl {
    padding: 2rem;
}

@each $key, $map in vars.$breakpoints {
    
    @if $key != infinity and $key != zero {

        @include breakpoint.more-than($key){
            .container-#{$key} { 
                //@debug '.container-#{$key}';
                @include space.padding($h:#{$key});
            }
        }
    }
}


.r-container {
        @include r_space.padding(
            $all:(h:xxxs), 
            $xxxs:(h:xxs),
            $xxs:(h:xs),
            $xs:(h:sm), 
            $md:(h:md), 
            $lg:(h:lg),
            $xl:(h:xl),
            $xxl:(h:xxl),
            $xxxl:(h:xxxl)
        );
}
