@use '../lib/colors' as color;
@use '../lib/spacing/mixin' as space;
@use '../lib/animation/transition' as trans;

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    @include color.bg(light-2);
    @include color.fg(dark-2);
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    @include color.fg(primary);

    &:hover {
        @include color.fg(accent);
    }
}
