$settings:(
    // Invert colors on dark theme
    invert_colors_on_dark : True,
);

$colors: (
    primary: #08a69e,
    primary-light: #29bab2,
    primary-dark: #028d85,
    secondary: #599afe,
    secondary-1: #00bcd4,
    secondary-2: #599afe,
    accent: #a50837,
    dark: #242122,
    dark-1: #444,
    dark-2: #333,
    dark-3: #000,
    light: #d3d3d3,
    light-1: #dbdbdb,
    light-2: #e7e7e7,
    light-3: #ffffff,
    'gray': #ccc,
    success: #47d637,
    info: #5b8cfd,
    question: #a371a3,
    warning: #ffb056,
    error: #ff6f6a,
    transparent: transparent,
);


$dark-colors: (
    primary: #f75a63,
    primary-light: #d6454d,
    primary-dark: #fd727a,
    secondary: #a66501,
    secondary-1: #ff432b,
    secondary-2: #a66501,
    accent: #5af7c8,
    dark: #d3d3d3,
    dark-1: #dbdbdb,
    dark-2: #e7e7e7,
    dark-3: #ffffff,
    light: #242122,
    light-1: #444,
    light-2: #333,
    light-3: #000,
    'gray': #ccc,
    success: #34c724,
    info: #3370ff,
    question: #7d4a7d,
    warning: #ff8800,
    error: #f54a45,
    transparent: transparent,
);

// $colors: (
//     primary: light-dark(#08A59C, #f75a63),
//     primary-light: light-dark(#29bab2, #d6454d),
//     primary-dark: light-dark(#028d85, #fd727a),
//     secondary: light-dark(#599afe, #a66501),
//     secondary-1: light-dark(#00bcd4, #ff432b),
//     secondary-2: light-dark(#599afe, #a66501),
//     accent: light-dark(#a50837,#5af7c8),
//     dark: light-dark(#242122,#d3d3d3),
//     dark-1: light-dark(#444,#dbdbdb),
//     dark-2: light-dark(#333,#e7e7e7),
//     dark-3: light-dark(#000,#ffffff),
//     light: light-dark(#d3d3d3,#242122),
//     light-1: light-dark(#dbdbdb,#444),
//     light-2: light-dark(#e7e7e7,#333),
//     light-3: light-dark(#ffffff,#000),
//     'gray': #ccc,
//     transparent: transparent,
// );

